<div>
  <app-barra></app-barra>
</div>

<div class="container-fluid row ">
  <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <app-sidebar></app-sidebar>
    </div>
  </nav>
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{titulo}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
      </div>
      </div>
      <div>
        <h3>Pincha para subir tu foto</h3>
        <input type="file" accept=".jpg,.png"  (change)="onFileSelected($event)" value="Subir archivo">
      </div><br>
      <div>
        <div *ngIf="base64Output">
          <img [src]="base64Output" width="300px" height="200px">
          <div>
          <button class="btn btn-primary"  (click)="upload()" >Enviar</button>
        </div>
        </div>
      </div>
    </div>
  </div>


