<app-barra></app-barra>



<section class="py-5 text-center container">
  <div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
  <h1 class="fw-light">Bienvenido a Identicar</h1>
  <p class="lead text-muted">Crea tu propio garaje</p>

  </div>
  <section>
    <img src="../../../assets/portada.jpg">
    <img src="../../../assets/ford-eu.jpg">
    <img src="../../../assets/coche-amarillo.jpg">
    <img src="../../../assets/audi_s7.jpg">
    <img src="../../../assets/volvo.jpg">
  </section>
  </div>

  </section>

