/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('src/assets/Mitsubishi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* .content {
    background-image: url('C:\zSoporte_TI\workspace\IDENTICAR\src\assets/Mitsubishi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  } */