<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Identicar Logo"
    src="../assets/logo.jpg"
  />
  <span>IDENTICAR</span>
    <div class="spacer"></div>
    <a aria-label="login" target="" rel="noopener" href="" title="Acceso">
      <img
      width="40"
      alt="Identicar Logo"
      src="../assets/login.jpg"
    />
    </a>
    <button id="btn-login" onclick="">
      <router-link routerLink="">
        <div class="box" >
          <i class="icon fas fa-solid fa-warehouse"></i>
          Login
        </div>
      </router-link>
    </button>
  </div>
